$darkula-1: #000000;
$darkula-2: #2b2727;
$darkula-3: #474444;
$darkula-4: #676565;
$darkula-5: #ffffff;

a {
  color: $primary-color-soft;
}

a:hover {
  color: lighten($primary-color-soft, 10%);

}

body {
  // background-color: $backgroundColour;
  background:rgb(31, 33, 34);
  color: #ecd60b;
}

////Sidebar

.dev-sidebar {
  background: $primary-color-hard;

  .dev-sidebar-menu-item {
    color: $baseWhite;

  }


  .dev-sidebar-menu-group {
    border-left: 4px solid $secondary-color-light;

    &.dev-expanded {
      background: darken($primary-color-soft, 20%);
      color: white;
    }

    .dev-sidebar-sub-menu-item {
      background: $baseWhite;
      color: $primary-color-hard;



      &:hover {
        background: lighten($primary-color-soft, 20%);
        color: $baseWhite;
      }
    }

  }





}



