.dev-btn, a.dev-btn, input.dev-btn  {
  border:none;
  padding: $baseUnit - 2 $baseUnit * 3;
  margin: $baseUnit * 2 0px $baseUnit;
  background: $primary-color-light;
  color: #ffffff;
  font-size: $baseUnit * 2 - 2;
  box-shadow: $box-shadow-level-1;

  &--full {
    width: 100%;
  }

  &--inline
  {
    display:inline-block;
    margin:0;
    vertical-align:middle;
    padding:6px;
    border:1px solid  $primary-color-soft;
    margin-left:-4px;
    border-radius:0;
    font-size:15px;
  }

  &:hover {
    cursor: pointer;
    background: darken($primary-color-light, 10%);
    box-shadow: $box-shadow-level-2;
    color: #ffffff;
  }

  &:focus{
    outline:none;
  }

}

.btn-assigned
{
  cursor: pointer;
  box-shadow: $box-shadow-2;

  &:hover
  {
    box-shadow: $box-shadow-3;
    background: #fefefe;
  }
}

.btn-assigned.open{
  box-shadow: $box-shadow-3;
  background: #04ffb6;
}
